@import '../../styles/_variables';

.Button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid $color-primary-dark;
    color: $color-primary-dark;

    &:hover {
        transition: 0.5s;
        background-color: $color-primary-dark;
        color: $color-primary;
        cursor: pointer;
    }

    &-form {
        margin-bottom: 1.5rem;
    }
}