@import './styles/_mixins';

.App {
  @include center;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

@media (max-width: 320px) {
  .App {
    max-width: 300px;
  }
}
