@import '../styles/_mixins';
@import '../styles/_variables';

.Attendees {
    @include center-vertically;
    min-height: 100vh;
    color: $color-primary-dark;
    // font-weight: bold;
    

    &-container {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 1px 1px 9px 1px $color-primary-dark;
        border-radius: 1rem;
        width: 70%;
        padding: 2rem;
        margin-bottom: 8rem;
        border: 3px solid $color-primary;

        table {
            width: 95%;

            &, 
            th, 
            td {
                text-align: left;
                margin: auto;
                border: 1px solid rgba(26, 17, 14, 0.6);
                font-weight: 600;
                
            }
            
            th {
                // text-align: center;
                font-weight: bold;
                
            }
        }


    }
}

@media (max-width: 700px) {
    .Attendees {
        &-container {
            width: 80%;
        }
    }
 }