@import '../../styles/_mixins';
@import '../../styles/_variables';

.RegisterForm {
    color: $color-primary-dark;
    font-weight: bold;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 9px 1px $color-primary-dark;
    border: 3px solid $color-primary;
    width: 60%;
    margin-bottom: 4rem;

    input {
        border-color: $color-primary-light;
        margin: auto;
        display: block;
        padding: .5rem;
        font-size: 16px;
        width: 60%;
        margin-bottom: 2rem;
    }

.input-feedback {
    color: red;
    margin-top: -30px;
}
.register-input.error {
    border-color: red;
}

.required {
    font-weight: bold;
    color: red;
}
}
